<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.post.mapper.CategoryMapper">

 
	
	<select id="selectAllCategoryBig" resultType="CategoryBig" >
		 select * from category_big
	</select>
	<select id="selectAllCategoryMid" resultType="CategoryMid" >
		 select * from category_mid WHERE cate_big_id = #{cate_big_id}
	</select>
	
	 
    
</mapper>



