<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.post.mapper.CategoryMapper">

 
	
	<select id="selectAllCategoryBig" resultType="CategoryBig" >
		 select * from category_big
	</select>
	<select id="selectAllCategoryMid" resultType="CategoryMid" >
		 select * from category_mid WHERE cate_big_id = #{cate_big_id}
	</select>
	
	<select id="selectCategoryPost" resultType="Post" >
		select
		     t0.*
		    ,t1.files
		    ,t2.tags
		from post t0
		
		left outer join (
		    select post_id, min(img_url) as files
		    from post_img
		    group by post_id
		) t1
		on t0.post_id = t1.post_id
		
		left outer join (
			
		    SELECT post_id, group_concat(tag) AS tags
			 FROM hashtag 
			 GROUP BY post_id
		) t2
		on t0.post_id = t2.post_id

		where del_flag != 1 
		
		AND cate_mid_id=#{category_mid}
		
		ORDER BY t0.create_date DESC
       	LIMIT #{sno}, 12
	</select>
	
	<select id="selectCateName" resultType="Post" >
		SELECT c1.name AS 'cate_big_name', c2.name AS 'cate_mid_name'
		FROM category_big c1, category_mid c2
		WHERE c1.cate_big_id=c2.cate_big_id
		AND cate_mid_id = #{category_mid_id}
	</select>
	 
    
</mapper>



