<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.post.mapper.ReplyMapper">

	<select id="selectReplyNum" resultType="int">
		select max(reply_id) from reply
	</select>
	
	<insert id="insertReply">
    	insert into reply(contents, post_id, user_id) 
    	values(#{contents},#{post_id},#{user_id})
    </insert>
    
    <update id="deleteReply">
   		update reply
       	set del_flag=1
    	where reply_id=#{reply_id}
    </update>
  
  	<update id="updateReply">
		update reply
       	set contents = #{contents}
    	where reply_id = #{reply_id}
   </update>
    
    <select id="selectReply" resultType="Reply">
		SELECT t0.reply_id, 
				t0.create_date,
				t0.`contents`,
				t0.post_id,
				t0.user_id,
				t0.del_flag,
				t1.nick_name,
				t1.profile_img
		from reply t0, user t1
		WHERE t0.user_id = t1.user_id
		AND t0.post_id =#{post_id} 	AND t0.del_flag = 0
		order BY t0.create_date desc
	</select>
	
	<select id="selectOneReply" resultType="Reply">
		SELECT t0.reply_id, 
				t0.create_date,
				t0.`contents`,
				t0.post_id,
				t0.user_id,
				t0.del_flag,
				t1.nick_name,
				t1.profile_img
		from reply t0, user t1
		WHERE t0.user_id = t1.user_id
		AND t0.reply_id =#{reply_id} 
	</select>
    
</mapper>



