spring:
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: false

  datasource:
    url: jdbc:mysql://localhost:3306/ssafy_blog?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
    username: root
    password: ssafy
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database: mysql
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        char_set: 
    generate-ddl: true
    
server:
  port: 8001
  
jwt:
  secret: secret0key0in0ssafyasdfasdfasdfasdfasdf

delivery:
  key: DlCHvPTEJjHmTu3U9IlZhA